<div class="multiselect-parent btn-group dropdown-multiselect"
     ng-class="{open: open}">
     <div ng-transclude="toggleDropdown">
      <button ng-disabled="disabled"
              type="button"
              ng-show="!settings.dynamicSearchBox || !open"
              class="dropdown-toggle"
              tabindex="{{ 700 + index }}"
              style="display:inline-block; width:calc(100% - 2rem)"
              ng-class="settings.buttonClasses"
              ng-click="toggleDropdown()">
        <span class="text">{{getButtonText()}}</span>
        <span class="caret"></span>
      </button>
      <input type="text"
             class="form-control searchField"
             ng-show="settings.dynamicSearchBox && open"
             ng-keydown="keyDownSearchDefault($event); keyDownSearch($event, input.searchFilter)"
             ng-change="tryCustomFilter()"
             tabindex="-1"
             ng-model="input.searchFilter"
             style="display:inline-block; width:calc(100% - 2rem)"
             placeholder="{{texts.searchPlaceholder}}" />
      <a ng-keydown="keyDownLink($event)"
         data-ng-click="deselectAll();"
         abindex="-1"
         style="display:inline-block; cursor:pointer"
         id="deselectAll">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
  <ul class="dropdown-menu dropdown-menu-form"
      ng-if="open"
      ng-show="open"
      style="width: calc(100% - 2rem); margin-top: 0"
      ng-style="{display: open ? 'block' : 'none', height : settings.scrollable ? settings.scrollableHeight : 'auto', overflow: 'auto' }">
    <!-- Selected Item -->
    <li ng-if="!isEditMode() && selectedItem.length > 0 && customFilteredItem.length <= 0"
        role="presentation"
        class="dropdown-header">
      {{ settings.selectedLabel }} {{ tryShowAmount(selectedItem) }}
    </li>
    <li ng-if="!isEditMode() && settings.seperateSelectedItem && customFilteredItem.length <= 0"
        class="selected"
        ng-class="{active: isChecked(option) && settings.styleActive}"
        role="presentation"
        ng-repeat="option in selectedItem">
      <div class="option" tabindex="-1" style="display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:1.42857143;color:#333;white-space:nowrap;">
        <a role="menuitem"
           ng-click="enterEditMode(option)"
           style="display: inline-block; width: calc(100% - 20px); cursor: pointer">
          <span style="display: block; width: 100%"
                dm-dropdown-static-include="{{settings.template}}"></span>
        </a>
        <a ng-keydown="option.disabled || keyDownLink($event)"
           role="menuitem"
           style="display: inline-block; float: right; cursor: pointer"
           ng-click="option.disabled || setSelectedItem(option, false, true); $event.stopPropagation()"
           ng-disabled="option.disabled">
          <span data-ng-class="{'glyphicon glyphicon-remove': isChecked(option)}"></span>
        </a>
      </div>
    </li>
    <!-- Custom-Filtered Item -->
    <li ng-if="settings.customFilterLabel && settings.customFilter && customFilteredItem.length > 0"
        role="presentation" class="dropdown-header">
      {{ settings.customFilterLabel }} {{ tryShowAmount(customFilteredItem) }}
    </li>
    <li ng-if="settings.customFilter && customFilteredItem.length > 0"
        class="custom-filtered"
        ng-class="{'active': isChecked(option) && settings.styleActive}"
        role="presentation"
        ng-repeat="option in customFilteredItem | orderBy:'toString()'">
      <div class="option" tabindex="-1" style="display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:1.42857143;color:#333;white-space:nowrap;">
        <div class="text-container">
          <span class="text-start"
                ng-if="option.name.length >= 5"
                style="max-width: calc(100% - 5ch)"><!--
              --><span ng-style="{'max-width': (option.name.length - 5) + 'ch'}"
                       ng-bind-html="settings.customHTML(option, input.searchFilter)"></span><!--
          --></span><!--
          --><span class="text-end"
                ng-bind-html="settings.customHTML(option, input.searchFilter)"></span>
        </div>
      </div>
    </li>
    <!-- Not-Selected Item -->
    <li role="presentation"
        ng-if="customFilteredItem.length === 0"
        class="dropdown-header">
      {{ settings.unSelectedLabel }} {{ tryShowAmount(unSelectedItem) }}
    </li>
    <li ng-if="!settings.groupBy && settings.seperateSelectedItem && customFilteredItem.length <= 0"
        class="unSelected"
        ng-class="{'active': isChecked(option) && settings.styleActive}"
        role="presentation"
        ng-repeat="option in unSelectedItem | orderBy:'toString()'">
      <a ng-keydown="option.disabled || keyDownLink($event)"
         role="menuitem"
         class="option"
         tabindex="-1"
         style="cursor: pointer"
         ng-click="option.disabled || setSelectedItem(option, false, true); $event.stopPropagation()"
         ng-disabled="option.disabled">

        <div class="text-container">
          <span class="text-start"
                ng-if="option.name.length >= 5"
                style="max-width: calc(100% - 5ch)"><!--
              --><span ng-style="{'max-width': (option.name.length - 5) + 'ch'}"
                       ng-bind-html="settings.customHTML(option, input.searchFilter)"></span><!--
          --></span><!--
          --><span class="text-end"
                ng-bind-html="settings.customHTML(option, input.searchFilter)"></span>
        </div>
      </a>
    </li>
    <!-- Default -->
    <li ng-if="!settings.groupBy && !settings.seperateSelectedItem"
        ng-class="{'active': isChecked(option) && settings.styleActive}"
        role="presentation"
        ng-repeat="option in options | filter:getFilter(input.searchFilter) | orderBy:'toString()'">
      <a ng-keydown="option.disabled || keyDownLink($event)"
         role="menuitem"
         class="option"
         tabindex="-1"
         style="width: 100%; text-overflow: ellipsis; overflow: hidden"
         ng-click="option.disabled || setSelectedItem(option, false, true)"
         ng-disabled="option.disabled">
        <span data-ng-class="{'glyphicon glyphicon-ok': isChecked(option)}">
        </span>
        <span dm-dropdown-static-include="{{settings.template}}"></span>
      </a>
    </li>
    <!-- Result Not Found -->
    <li ng-show="settings.showNotFound && customFilteredItem.length === 0 && unSelectedItem.length === 0 && !inSelection()"
        role="presentation">
      <a role="menuitem"
         class="option"
         tabindex="-1"
         style="cursor: pointer"
         ng-click="handleSearchNotFound()">
        <span dm-dropdown-static-include="{{texts.searchNotFoundText}}"></span>
      </a>
    </li>
    <li class="divider"
        ng-show="settings.selectionLimit > 1">
    </li>
    <li role="presentation"
        ng-show="settings.selectionLimit > 1">
      <a role="menuitem">{{selectedModel.length}} {{texts.selectionOf}} {{settings.selectionLimit}} {{texts.selectionCount}}</a>
    </li>
  </ul>
</div>
