<div class="multiselect-parent btn-group dropdown-multiselect"
     ng-class="{open: open}">
     <div ng-transclude="toggleDropdown">
      <button ng-disabled="disabled"
              type="button"
              ng-show="!settings.dynamicSearchBox || !open"
              class="dropdown-toggle"
              style="display:inline-block; width:calc(100% - 2rem)"
              ng-class="settings.buttonClasses"
              ng-click="toggleDropdown()">
        <span class="text">{{getButtonText()}}</span>
        <span class="caret"></span>
      </button>
      <input type="text"
             class="form-control searchField"
             ng-show="settings.dynamicSearchBox && open && !editModel"
             ng-keydown="keyDownSearchDefault($event); keyDownSearch($event, input.searchFilter)"
             ng-change="tryCustomFilter()"
             ng-model="input.searchFilter"
             style="display:inline-block; width:calc(100% - 2rem)"
             placeholder="{{texts.searchPlaceholder}}" />
      <input type="text"
             class="form-control editField"
             ng-show="settings.dynamicSearchBox && open && editModel"
             ng-keydown="keyDownEdit($event, input.searchFilter)"
             ng-change="tryCustomFilter()"
             ng-model="input.searchFilter"
             ng-blur="finishEdit($event, input.searchFilter)"
             ng-model="input.searchFilter"
             style="display:inline-block; width:calc(100% - 2rem)">
      <a ng-keydown="keyDownLink($event)"
         data-ng-click="deselectAll();"
         tabindex="-1"
         style="display:inline-block; cursor:pointer"
         id="deselectAll">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
  <ul class="dropdown-menu dropdown-menu-form"
      ng-if="open"
      style="width: calc(100% - 22px); margin-top: 0"
      ng-style="{display: open ? 'block' : 'none', height : settings.scrollable ? settings.scrollableHeight : 'auto', overflow: 'auto' }">
    <li ng-if="settings.showCheckAll && settings.selectionLimit === 0">
      <a ng-keydown="keyDownLink($event)"
         data-ng-click="selectAll()"
         tabindex="-1"
         id="selectAll">
        <span class="glyphicon glyphicon-ok"></span>
        {{texts.checkAll}}
      </a>
    </li>
    <li ng-if="settings.showUncheckAll">
      <a ng-keydown="keyDownLink($event)"
         data-ng-click="deselectAll();"
         tabindex="-1"
         id="deselectAll">
        <span class="glyphicon glyphicon-remove"></span>
        {{texts.uncheckAll}}
      </a>
    </li>
    <li ng-if="settings.selectByGroups && ((settings.showCheckAll && settings.selectionLimit > 0) || settings.showUncheckAll)"
        class="divider">
    </li>
    <li ng-repeat="currentGroup in settings.selectByGroups track by $index"
        ng-click="selectCurrentGroup(currentGroup)">
      <a ng-class="{'dropdown-selected-group': selectedGroup === currentGroup}"
         tabindex="-1">
        {{::texts.selectGroup}} {{::getGroupLabel(currentGroup)}}
      </a>
    </li>
    <li ng-if="settings.selectByGroups && settings.showEnableSearchButton"
        class="divider">
    </li>
    <li ng-if="settings.showEnableSearchButton && settings.enableSearch && !settings.dynamicSearchBox">
      <a ng-keydown="keyDownLink($event); keyDownToggleSearch();"
         ng-click="toggleSearch($event);"
         tabindex="-1">
        {{texts.disableSearch}}
      </a>
    </li>
    <li ng-if="settings.showEnableSearchButton && !settings.enableSearch && !settings.dynamicSearchBox">
      <a ng-keydown="keyDownLink($event); keyDownToggleSearch();"
         ng-click="toggleSearch($event);"
         tabindex="-1">
        {{texts.enableSearch}}
      </a>
    </li>
    <li ng-if="(settings.showCheckAll && settings.selectionLimit > 0) || settings.showUncheckAll || settings.showEnableSearchButton && !settings.dynamicSearchBox"
        class="divider">
    </li>
    <li ng-if="settings.enableSearch && !settings.dynamicSearchBox">
      <div class="dropdown-header">
        <input type="text"
               class="form-control searchField"
               ng-keydown="keyDownSearchDefault($event); keyDownSearch($event, input.searchFilter);"
               ng-style="{width: '100%'}"
               ng-model="input.searchFilter"
               placeholder="{{texts.searchPlaceholder}}" />
      </div>
    </li>
    <li ng-if="settings.enableSearch && !settings.dynamicSearchBox"
        class="divider">
    </li>
    <li ng-if="settings.groupBy"
        ng-repeat-start="option in orderedItems = ( options | filter:getFilter(input.searchFilter) | orderBy:'':false:orderFunction)"
        ng-show="getPropertyForObject(option, settings.groupBy) !== getPropertyForObject(orderedItems[$index - 1], settings.groupBy)"
        role="presentation"
        class="dropdown-header">
      {{ getGroupLabel(getPropertyForObject(option, settings.groupBy)) }}
    </li>
    <li ng-if="settings.groupBy"
        ng-class="{'active': isChecked(option) && settings.styleActive}"
        ng-repeat-end
        role="presentation">
      <a ng-keydown="option.disabled || keyDownLink($event)"
         role="menuitem"
         class="option"
         tabindex="-1"
         ng-click="option.disabled || setSelectedItem(option, false, true)"
         ng-disabled="option.disabled">
        <div ng-if="settings.checkBoxes"
             class="checkbox">
          <label>
            <input class="checkboxInput"
                   type="checkbox"
                   ng-click="checkboxClick($event, option)"
                   ng-checked="isChecked(option)" />
            <span dm-dropdown-static-include="{{settings.template}}"></span>
          </label>
        </div>
        <span ng-if="!settings.checkBoxes"
              data-ng-class="{'glyphicon glyphicon-ok': isChecked(option)}">
        </span>
        <span dm-dropdown-static-include="{{settings.template}}"></span>
      </a>
    </li>
    <!-- Selected Item -->
    <li ng-if="settings.seperateSelectedItem && settings.selectedLabel && selectedItem.length > 0 && customFilteredItem.length <= 0"
        role="presentation"
        class="dropdown-header">
      {{ settings.selectedLabel }} {{ tryShowAmount(selectedItem) }}
    </li>
    <li ng-if="!settings.groupBy && settings.seperateSelectedItem && customFilteredItem.length <= 0"
        class="selected"
        ng-class="{'active': isChecked(option) && settings.styleActive}"
        role="presentation"
        ng-repeat="option in selectedItem">
      <div class="option" tabindex="-1" style="display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:1.42857143;color:#333;white-space:nowrap;">
        <a role="menuitem"
           ng-click="enterEditMode(option)"
           style="display: inline-block; width: calc(100% - 20px); cursor: pointer">
          <span ng-if="!settings.checkBoxes"
                style="display: block; width: 100%"
                dm-dropdown-static-include="{{settings.template}}"></span>
        </a>
        <a ng-keydown="option.disabled || keyDownLink($event)"
           role="menuitem"
           style="display: inline-block; float: right; cursor: pointer"
           ng-click="option.disabled || setSelectedItem(option, false, true); $event.stopPropagation()"
           ng-disabled="option.disabled">
          <div ng-if="settings.checkBoxes"
               class="checkbox">
            <label>
              <input class="checkboxInput"
                     type="checkbox"
                     ng-click="checkboxClick($event, option)"
                     ng-checked="isChecked(option)" />
              <span dm-dropdown-static-include="{{settings.template}}"></span>
            </label>
          </div>
          <span ng-if="!settings.checkBoxes"
                data-ng-class="{'glyphicon glyphicon-remove': isChecked(option)}">
          </span>
        </a>
      </div>
    </li>
    <!-- Custom-Filtered Item -->
    <li ng-if="settings.customFilterLabel && settings.customFilter && customFilteredItem.length > 0"
        role="presentation"
        class="dropdown-header">
      {{ settings.customFilterLabel }} {{ tryShowAmount(customFilteredItem) }}
    </li>
    <li ng-if="settings.customFilter && customFilteredItem.length > 0"
        class="custom-filtered"
        ng-class="{'active': isChecked(option) && settings.styleActive}"
        role="presentation"
        ng-repeat="option in customFilteredItem | orderBy:'toString()'">
      <div class="option" tabindex="-1" style="display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:1.42857143;color:#333;white-space:nowrap;">
        <span ng-if="!settings.checkBoxes && !settings.customHTML"
              style="display: inline-block; width: 100%"
              dm-dropdown-static-include="{{settings.template}}"></span>
        <span ng-if="settings.customHTML"
              style="display: inline-block; width: 100%"
              ng-bind-html="settings.customHTML(option, input.searchFilter)"></span>
      </div>
    </li>
    <!-- Not-Selected Item -->
    <li ng-if="settings.seperateSelectedItem && settings.unSelectedLabel && unSelectedItem.length > 0 && customFilteredItem.length <= 0"
        role="presentation"
        class="dropdown-header">
      {{ settings.unSelectedLabel }} {{ tryShowAmount(unSelectedItem | filter:getFilter(input.searchFilter)) }}
    </li>
    <li ng-if="!settings.groupBy && settings.seperateSelectedItem && customFilteredItem.length <= 0"
        class="unSelected"
        ng-class="{'active': isChecked(option) && settings.styleActive}"
        role="presentation"
        ng-repeat="option in unSelectedItem | filter:getFilter(input.searchFilter) | orderBy:'toString()'">
      <a ng-keydown="option.disabled || keyDownLink($event)"
         role="menuitem"
         class="option"
         tabindex="-1"
         ng-click="option.disabled || setSelectedItem(option, false, true); $event.stopPropagation()"
         ng-disabled="option.disabled">
        <div ng-if="settings.checkBoxes"
             class="checkbox">
          <label>
            <input class="checkboxInput"
                   type="checkbox"
                   ng-click="checkboxClick($event, option)"
                   ng-checked="isChecked(option)" />
            <span dm-dropdown-static-include="{{settings.template}}"></span>
          </label>
        </div>
        <span ng-if="!settings.checkBoxes"
              data-ng-class="{'glyphicon glyphicon-ok': isChecked(option)}">
        </span>
        <span ng-if="!settings.checkBoxes && !settings.customHTML"
              dm-dropdown-static-include="{{settings.template}}"></span>
        <span ng-if="settings.customHTML"
              style="display: inline-block; width: 100%"
              ng-bind-html="settings.customHTML(option, input.searchFilter)"></span>
      </a>
    </li>
    <!-- Default -->
    <li ng-if="!settings.groupBy && !settings.seperateSelectedItem"
        ng-class="{'active': isChecked(option) && settings.styleActive}"
        role="presentation"
        ng-repeat="option in options | filter:getFilter(input.searchFilter) | orderBy:'':false:orderFunction">
      <a ng-keydown="option.disabled || keyDownLink($event)"
         role="menuitem"
         class="option"
         tabindex="-1"
         ng-click="option.disabled || setSelectedItem(option, false, true)"
         ng-disabled="option.disabled">
        <div ng-if="settings.checkBoxes"
             class="checkbox">
          <label>
            <input class="checkboxInput"
                   type="checkbox"
                   ng-click="checkboxClick($event, option)"
                   ng-checked="isChecked(option)" />
            <span dm-dropdown-static-include="{{settings.template}}"></span>
          </label>
        </div>
        <span ng-if="!settings.checkBoxes"
              data-ng-class="{'glyphicon glyphicon-ok': isChecked(option)}">
        </span>
        <span ng-if="!settings.checkBoxes"
              dm-dropdown-static-include="{{settings.template}}"></span>
      </a>
    </li>
    <!-- Result Not Found -->
    <li ng-if="settings.showNotFound && (customFilteredItem.length === 0 && (unSelectedItem | filter:getFilter(input.searchFilter)).length === 0)"
        role="presentation">
      <a role="menuitem"
         class="option"
         tabindex="-1"
         style="cursor: pointer"
         ng-click="handleSearchNotFound()">
        <span dm-dropdown-static-include="{{texts.searchNotFoundText}}"></span>
      </a>
    </li>
    <li class="divider"
        ng-show="settings.selectionLimit > 1">
    </li>
    <li role="presentation"
        ng-show="settings.selectionLimit > 1">
      <a role="menuitem">{{selectedModel.length}} {{texts.selectionOf}} {{settings.selectionLimit}} {{texts.selectionCount}}</a>
    </li>
  </ul>
</div>
